In [1]:
import pandas as pd

In [2]:
pd.Series((1,2,3,4))

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
pd.Series([1,2,3,8])

0    1
1    2
2    3
3    8
dtype: int64

In [4]:
pd.DataFrame({"name":["ale","leka"],"des":["ass","log"]},index=["angel","lag"])#colimns=["nb"]

       name  des
angel   ale  ass
lag    leka  log

In [28]:
midx = pd.MultiIndex(levels=[["cow","buffalo","falcon"],["speed","weight","length"]],
                     codes=[[0,0,0,1,1,1,2,2,2],[0,1,2,0,1,2,0,1,2]])

In [29]:
midx

MultiIndex(levels=[['cow', 'buffalo', 'falcon'], ['speed', 'weight', 'length']],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [30]:
s = pd.DataFrame(index=midx,columns=["big","small"],data=[[45,30],[200,40],[6,45],[45,67],[5,3.4],[9,45],[5,3],[6,3],[9,6]])

In [31]:
s

                big  small
cow     speed    45   30.0
        weight  200   40.0
        length    6   45.0
buffalo speed    45   67.0
        weight    5    3.4
        length    9   45.0
falcon  speed     5    3.0
        weight    6    3.0
        length    9    6.0

In [32]:
s.drop(index="buffalo",columns="small")

               big
cow    speed    45
       weight  200
       length    6
falcon speed     5
       weight    6
       length    9

In [33]:
s.drop(index="length",level=1)

                big  small
cow     speed    45   30.0
        weight  200   40.0
buffalo speed    45   67.0
        weight    5    3.4
falcon  speed     5    3.0
        weight    6    3.0

In [52]:
s.loc["cow",["big"]]

        big
speed    45
weight  200
length    6

In [59]:
s.loc[("cow","speed"),["big"]]

big    45.0
Name: (cow, speed), dtype: float64

In [34]:
midx1 = pd.MultiIndex(levels=[["cow","buffalo","falcon"],["speed","weight","length"]],
                     codes=[[0,1,2],[0,1,2]])

In [35]:
midx1

MultiIndex(levels=[['cow', 'buffalo', 'falcon'], ['speed', 'weight', 'length']],
           codes=[[0, 1, 2], [0, 1, 2]])

In [37]:
s1 = pd.DataFrame(index=midx1,columns=["big","small"],data=[[45,30],[200,40],[6,45]])
s1

                big  small
cow     speed    45     30
buffalo weight  200     40
falcon  length    6     45

In [38]:
s1.drop(index="length",level=1)

                big  small
cow     speed    45     30
buffalo weight  200     40

In [40]:
s1.loc["cow",["big"]]

       big
speed   45

In [10]:
# to read a text data
pd.read_table("data.txt")

C:\Users\Alekhya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

   a b
0  1 2
1  3 4
2  5 6

In [12]:
df = pd.read_csv("movie_metadata.csv")

In [13]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [14]:
df.tail(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [15]:
df.sample(7)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
489,Color,Lucile Hadzihalilovic,63.0,81.0,92.0,8.0,Roxane Duran,23.0,NaN,Drama|Horror|Mystery|Sci-Fi,...,3.0,French,France,NaN,NaN,2015.0,21.0,6.4,2.35,257
3240,Color,Marcus Raboy,4.0,85.0,7.0,240.0,Tamala Jones,706.0,NaN,Comedy|Crime|Music,...,10.0,English,USA,R,NaN,2009.0,405.0,5.2,1.85,402
2965,Color,Richard LaGravenese,24.0,100.0,98.0,604.0,Eddie Cibrian,1000.0,12902790.0,Comedy|Drama|Romance,...,88.0,English,USA,R,12000000.0,1998.0,849.0,6.6,2.35,242
2163,Color,James Wan,511.0,112.0,0.0,697.0,Lili Taylor,6000.0,137387272.0,Horror|Mystery|Thriller,...,807.0,English,USA,R,20000000.0,2013.0,960.0,7.5,2.35,131000
500,Color,George Miller,61.0,97.0,750.0,231.0,Elizabeth Daily,1000.0,18318000.0,Adventure|Comedy|Drama|Family|Fantasy,...,216.0,English,Australia,G,80000000.0,1998.0,971.0,5.8,1.85,964
799,Color,Walter Hill,100.0,91.0,394.0,68.0,Wilson Cruz,889.0,14218868.0,Horror|Sci-Fi|Thriller,...,282.0,English,USA,PG-13,65000000.0,2000.0,290.0,4.8,2.35,589
3452,Color,Paul Haggis,287.0,115.0,549.0,911.0,Loretta Devine,3000.0,54557348.0,Crime|Drama|Thriller,...,1624.0,English,Germany,R,6500000.0,2004.0,912.0,7.9,2.35,18000

In [11]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [24]:
df["color"].head()

0    Color
1    Color
2    Color
3    Color
4      NaN
Name: color, dtype: object

In [ ]:
#loc
#iloc-
#loc-gets rows or columns with particular lables from the index.
#iloc gets rows or columns at particular positions in the index(it takes only integers).

In [26]:
df.loc[4,"color"]

nan

In [27]:
df.loc[56,"color"]

'Color'

In [28]:
df.iloc[4,1]

'Doug Walker'

In [29]:
df.iloc[4,0]

nan

In [8]:
df.isnull()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5014,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
5015,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5016,False,False,True,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5017,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5018,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5019,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
5020,True,False,True,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5021,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5022,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5023,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5024,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5025,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5026,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5027,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5028,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5029,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5030,False,False,True,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5031,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5032,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5033,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5034,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5035,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5036,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
5037,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5038,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5039,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
5040,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
5042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [12]:
df.isnull().sum().sum()

2698

In [16]:
df.notnull().sum()

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5030
plot_keywords                4890
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5031
country                      5038
content_rating               4740
budget                       4551
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
dtype: int64

In [19]:
df["color"].unique()

array(['Color', nan, ' Black and White'], dtype=object)

In [23]:
df["color"].value_counts()

Color               4815
 Black and White     209
Name: color, dtype: int64

In [39]:
s = df[df.duplicated()]
s.shape

(45, 28)

In [18]:
df.shape

(5043, 28)

In [48]:
df.drop_duplicates().shape

(4998, 28)

In [ ]:
#masking
#droping
#adding

In [31]:
df1 = df.dropna()
df1.shape

(3756, 28)

In [49]:
df.fillna(value=0,inplace=True)
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,0,Doug Walker,0.0,0.0,131.0,0.0,Rob Walker,131.0,0.0,Documentary,...,0.0,0,0,0,0.0,0.0,12.0,7.1,0.00,0

In [50]:
df["duration"]>164.0

0        True
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11       True
12      False
13      False
14      False
15      False
16      False
17       True
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25       True
26       True
27      False
28      False
29      False
        ...
5013    False
5014    False
5015    False
5016    False
5017    False
5018    False
5019    False
5020    False
5021    False
5022    False
5023    False
5024    False
5025    False
5026    False
5027    False
5028    False
5029    False
5030    False
5031    False
5032    False
5033    False
5034    False
5035    False
5036    False
5037    False
5038    False
5039    False
5040    False
5041    False
5042    False
Name: duration, Length: 5043, dtype: bool

In [55]:
a = df[(df["duration"]>164.0)]

In [59]:
df["duration"][df["duration"]>164.0]

0       178.0
1       169.0
10      183.0
11      169.0
17      173.0
23      186.0
25      201.0
26      194.0
32      195.0
37      165.0
76      176.0
96      169.0
99      182.0
101     166.0
111     184.0
113     206.0
147     196.0
165     215.0
196     165.0
208     174.0
257     170.0
270     171.0
272     165.0
275     194.0
283     171.0
285     174.0
290     176.0
296     165.0
308     240.0
311     172.0
        ...
3048    184.0
3075    193.0
3101    178.0
3208    168.0
3267    197.0
3276    176.0
3280    181.0
3311    300.0
3352    171.0
3355    178.0
3359    174.0
3412    180.0
3466    175.0
3510    192.0
3532    177.0
3650    240.0
3871    199.0
3903    172.0
3906    165.0
3958    168.0
3970    226.0
4077    186.0
4087    197.0
4113    173.0
4238    172.0
4572    167.0
4688    170.0
4694    201.0
4708    215.0
4747    202.0
Name: duration, Length: 122, dtype: float64

In [63]:
(df["duration"]>164.0) & (df["actor_3_facebook_likes"]>161)

0        True
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11       True
12      False
13      False
14      False
15      False
16      False
17       True
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26       True
27      False
28      False
29      False
        ...
5013    False
5014    False
5015    False
5016    False
5017    False
5018    False
5019    False
5020    False
5021    False
5022    False
5023    False
5024    False
5025    False
5026    False
5027    False
5028    False
5029    False
5030    False
5031    False
5032    False
5033    False
5034    False
5035    False
5036    False
5037    False
5038    False
5039    False
5040    False
5041    False
5042    False
Length: 5043, dtype: bool

In [65]:
df[(df["duration"]>164.0) & (df["actor_3_facebook_likes"]>161)]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
23,Color,Peter Jackson,509.0,186.0,0.0,773.0,Adam Brown,5000.0,258355354.0,Adventure|Fantasy,...,951.0,English,USA,PG-13,225000000.0,2013.0,972.0,7.9,2.35,83000
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
32,Color,Shane Black,608.0,195.0,1000.0,3000.0,Jon Favreau,21000.0,408992272.0,Action|Adventure|Sci-Fi,...,1187.0,English,USA,PG-13,200000000.0,2013.0,4000.0,7.2,2.35,95000
37,Color,Michael Bay,378.0,165.0,0.0,808.0,Sophia Myles,974.0,245428137.0,Action|Adventure|Sci-Fi,...,918.0,English,USA,PG-13,210000000.0,2014.0,956.0,5.7,2.35,56000
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
99,Color,Peter Jackson,645.0,182.0,0.0,773.0,Adam Brown,5000.0,303001229.0,Adventure|Fantasy,...,1367.0,English,USA,PG-13,180000000.0,2012.0,972.0,7.9,2.35,166000
101,Color,David Fincher,362.0,166.0,21000.0,919.0,Jason Flemyng,11000.0,127490802.0,Drama|Fantasy|Romance,...,822.0,English,USA,PG-13,150000000.0,2008.0,1000.0,7.8,2.35,23000
111,Black and White,Michael Bay,191.0,184.0,0.0,691.0,Jaime King,3000.0,198539855.0,Action|Drama|History|Romance|War,...,1999.0,English,USA,PG-13,140000000.0,2001.0,961.0,6.1,2.35,0
113,Color,Oliver Stone,248.0,206.0,0.0,591.0,Angelina Jolie Pitt,12000.0,34293771.0,Action|Adventure|Biography|Drama|History|Roman...,...,1390.0,English,Germany,R,155000000.0,2004.0,11000.0,5.5,2.35,0
147,Color,Wolfgang Petersen,220.0,196.0,249.0,844.0,Orlando Bloom,11000.0,133228348.0,Adventure,...,1694.0,English,USA,R,175000000.0,2004.0,5000.0,7.2,2.35,0
165,Color,Zack Snyder,451.0,215.0,0.0,413.0,Billy Crudup,986.0,107503316.0,Action|Drama|Mystery|Sci-Fi,...,1229.0,English,USA,R,130000000.0,2009.0,745.0,7.7,2.35,18000
196,Color,Baz Luhrmann,245.0,165.0,1000.0,165.0,Bryan Brown,309.0,49551662.0,Adventure|Drama|Romance|War,...,450.0,English,Australia,PG-13,130000000.0,2008.0,284.0,6.6,2.35,0
208,Color,Ron Howard,294.0,174.0,2000.0,362.0,Seth Gabel,15000.0,217536138.0,Mystery|Thriller,...,1966.0,English,USA,PG-13,125000000.0,2006.0,574.0,6.6,2.35,0
257,Black and White,Martin Scorsese,267.0,170.0,17000.0,827.0,Adam Scott,29000.0,102608827.0,Biography|Drama,...,799.0,English,USA,PG-13,110000000.0,2004.0,3000.0,7.5,2.35,0
270,Color,Peter Jackson,297.0,171.0,0.0,857.0,Orlando Bloom,16000.0,313837577.0,Action|Adventure|Drama|Fantasy,...,5060.0,English,New Zealand,PG-13,93000000.0,2001.0,5000.0,8.8,2.35,21000
272,Black and White,Michael Mann,174.0,165.0,0.0,780.0,Jada Pinkett Smith,10000.0,58183966.0,Biography|Drama|Sport,...,386.0,English,USA,R,107000000.0,2001.0,851.0,6.8,2.35,0
275,Color,Ridley Scott,239.0,194.0,0.0,195.0,Orlando Bloom,14000.0,47396698.0,Action|Adventure|Drama|History|War,...,942.0,English,USA,R,130000000.0,2005.0,5000.0,7.2,2.35,0
283,Color,Ridley Scott,265.0,171.0,0.0,695.0,Connie Nielsen,3000.0,187670866.0,Action|Drama|Romance,...,2368.0,English,USA,R,103000000.0,2000.0,933.0,8.5,2.35,21000
285,Color,Chris Columbus,232.0,174.0,0.0,9000.0,Rupert Grint,11000.0,261970615.0,Adventure|Family|Fantasy|Mystery,...,858.0,English,UK,PG,100000000.0,2002.0,10000.0,7.4,2.35,0
290,Color,Ridley Scott,300.0,176.0,0.0,561.0,Ruby Dee,18000.0,130127620.0,Biography|Crime|Drama,...,458.0,English,USA,R,100000000.0,2007.0,782.0,7.8,1.85,0
296,Color,Quentin Tarantino,765.0,165.0,16000.0,265.0,Christoph Waltz,29000.0,162804648.0,Drama|Western,...,1193.0,English,USA,R,100000000.0,2012.0,11000.0,8.5,2.35,199000
308,Color,Martin Scorsese,606.0,240.0,17000.0,4000.0,Matthew McConaughey,29000.0,116866727.0,Biography|Comedy|Crime|Drama,...,1138.0,English,USA,R,100000000.0,2013.0,11000.0,8.2,2.35,138000
311,Color,Tom Tykwer,511.0,172.0,670.0,1000.0,Jim Sturgess,15000.0,27098580.0,Drama|Sci-Fi,...,828.0,English,Germany,R,102000000.0,2012.0,5000.0,7.5,2.35,124000
326,Color,Martin Scorsese,233.0,216.0,17000.0,1000.0,Liam Neeson,29000.0,77679638.0,Crime|Drama,...,1166.0,English,USA,R,100000000.0,2002.0,14000.0,7.5,2.35,0
339,Color,Peter Jackson,328.0,192.0,0.0,416.0,Billy Boyd,5000.0,377019252.0,Action|Adventure|Drama|Fantasy,...,3189.0,English,USA,PG-13,94000000.0,2003.0,857.0,8.9,2.35,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,Color,Bernardo Bertolucci,75.0,219.0,973.0,400.0,Joan Chen,1000.0,43984230.0,Biography|Drama|History,...,133.0,English,China,PG-13,23000000.0,1987.0,643.0,7.8,2.35,0
1980,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
2088,Black and White,Richard Attenborough,95.0,240.0,0.0,249.0,Amrish Puri,545.0,0.0,Biography|Drama|History,...,256.0,English,UK,PG,22000000.0,1982.0,429.0,8.1,2.35,12000
2266,Color,George Stevens,27.0,225.0,126.0,202.0,Carroll Baker,940.0,8000000.0,Biography|Drama|History,...,100.0,English,USA,G,20000000.0,1965.0,208.0,6.6,2.76,1000
2356,Color,Kevin Costner,92.0,236.0,0.0,232.0,Michael Spears,933.0,184208848.0,Adventure|Drama|Western,...,382.0,English,USA,PG-13,22000000.0,1990.0,839.0,8.0,2.35,0
2407,Color,Milos Forman,134.0,180.0,869.0,521.0,F. Murray Abraham,692.0,51600000.0,Biography|Drama|History|Music,...,549.0,English,USA,R,18000000.0,1984.0,670.0,8.3,2.35,16000
2487,Color,George Cukor,82.0,170.0,165.0,244.0,Rex Harrison,453.0,72000000.0,Drama|Family|Musical|Romance,...,258.0,English,USA,Approved,17000000.0,1964.0,272.0,7.9,2.20,0
2561,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,0.0,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,0,25000000.0,2007.0,690.0,6.6,2.35,0
2629,Color,Michael Cimino,140.0,183.0,517.0,652.0,Meryl Streep,22000.0,0.0,Drama|War,...,1026.0,English,UK,R,15000000.0,1978.0,11000.0,8.2,2.35,11000
2727,Color,0,9.0,286.0,0.0,527.0,Tom Hollander,857.0,0.0,Drama|History|Thriller,...,39.0,English,USA,0,0.0,0.0,555.0,7.9,1.78,733
2816,Color,Kenneth Lonergan,116.0,186.0,50.0,338.0,Kieran Culkin,13000.0,46495.0,Drama,...,119.0,English,USA,R,14000000.0,2011.0,1000.0,6.5,1.85,0
2829,Color,Oliver Hirschbiegel,192.0,178.0,101.0,471.0,Bruno Ganz,918.0,5501940.0,Biography|Drama|History|War,...,564.0,German,Germany,R,13500000.0,2004.0,653.0,8.3,1.85,14000
2837,Color,Francis Ford Coppola,149.0,220.0,0.0,3000.0,Al Pacino,22000.0,57300000.0,Crime|Drama,...,650.0,English,USA,R,13000000.0,1974.0,14000.0,9.0,1.85,14000
3026,Color,David Lean,89.0,200.0,767.0,382.0,Klaus Kinski,597.0,111722000.0,Drama|Romance|War,...,255.0,English,USA,PG-13,11000000.0,1965.0,396.0,8.0,2.35,7000
3075,Color,Karan Johar,20.0,193.0,160.0,860.0,John Abraham,8000.0,3275443.0,Drama,...,264.0,Hindi,India,R,700000000.0,2006.0,1000.0,6.0,2.35,659
3101,Black and White,Ken Annakin,53.0,178.0,19.0,196.0,Richard Beymer,726.0,0.0,Action|Drama|History|War,...,192.0,English,USA,G,10000000.0,1962.0,249.0,7.8,2.35,0
3267,Color,Stanley Kramer,61.0,197.0,176.0,760.0,Sid Caesar,924.0,46300000.0,Action|Adventure|Comedy|Crime,...,344.0,English,USA,Approved,9400000.0,1963.0,898.0,7.6,2.76,0
3276,Color,Yash Chopra,50.0,176.0,147.0,1000.0,Katrina Kaif,8000.0,3047539.0,Drama|Romance,...,286.0,Hindi,India,Not Rated,7217600.0,2012.0,3000.0,6.9,2.35,12000
3352,Color,Mervyn LeRoy,54.0,171.0,54.0,346.0,Deborah Kerr,440.0,0.0,Biography|Drama|History|Romance,...,90.0,English,USA,Passed,7623000.0,1951.0,426.0,7.2,1.37,1000
3355,Color,Quentin Tarantino,215.0,178.0,16000.0,857.0,Eric Stoltz,13000.0,107930000.0,Crime|Drama,...,2195.0,English,USA,R,8000000.0,1994.0,902.0,8.9,2.35,45000
3359,Color,Robert Wise,119.0,174.0,338.0,195.0,Angela Cartwright,354.0,163214286.0,Biography|Drama|Family|Musical|Romance,...,406.0,English,USA,G,8200000.0,1965.0,209.0,8.0,2.35,15000
3412,Color,Edward Hall,17.0,180.0,0.0,844.0,Hayley Atwell,3000.0,0.0,Drama|Romance,...,12.0,English,UK,0,0.0,2012.0,2000.0,7.2,16.00,434
3466,Color,Francis Ford Coppola,208.0,175.0,0.0,3000.0,Marlon Brando,14000.0,134821952.0,Crime|Drama,...,2238.0,English,USA,R,6000000.0,1972.0,10000.0,9.2,1.85,43000
3510,Color,Yash Chopra,29.0,192.0,147.0,397.0,Preity Zinta,8000.0,2921738.0,Drama|Musical|Romance,...,119.0,Hindi,India,0,7000000.0,2004.0,860.0,7.9,2.35,2000
3650,Color,0,10.0,240.0,0.0,334.0,Blake Ritson,805.0,0.0,Comedy|Drama|Romance,...,50.0,English,UK,0,0.0,0.0,432.0,8.2,1.78,0
3871,Color,0,2.0,199.0,0.0,505.0,Jonathan Crombie,662.0,0.0,Drama|Family,...,74.0,English,Canada,TV-G,0.0,0.0,517.0,8.4,1.33,0
3970,Color,Victor Fleming,157.0,226.0,149.0,248.0,George Reeves,503.0,198655278.0,Drama|History|Romance|War,...,706.0,English,USA,G,3977000.0,1939.0,384.0,8.2,1.37,16000
4077,Black and White,Stanley Kramer,73.0,186.0,176.0,760.0,Montgomery Clift,877.0,0.0,Drama|War,...,176.0,English,USA,Not Rated,3000000.0,1961.0,862.0,8.3,1.75,0
4113,Color,0,10.0,173.0,0.0,476.0,Colm Feore,723.0,0.0,Horror|Sci-Fi|Thriller,...,33.0,English,USA,0,0.0,0.0,539.0,5.0,1.78,518
4238,Black and White,William Wyler,97.0,172.0,355.0,188.0,Teresa Wright,749.0,23650000.0,Drama|Romance|War,...,235.0,English,USA,Not Rated,2100000.0,1946.0,208.0,8.1,1.37,0

In [70]:
#joining
a = pd.DataFrame({"id":[1,2],"name":["ale","leka"],"des":["ass","log"],"gender":["m","f"]})
b = pd.DataFrame({"id":[1,2],"name":["alfe","lefka"],"des":["afss","lfog"],"gender":["m","m"]})

In [71]:
pd.merge(a,b,on="id")

   id name_x des_x gender_x name_y des_y gender_y
0   1    ale   ass        m   alfe  afss        m
1   2   leka   log        f  lefka  lfog        m

In [72]:
pd.merge(a,b,on=["id","gender"])

   id name_x des_x gender name_y des_y
0   1    ale   ass      m   alfe  afss

In [81]:
#concat
a = pd.DataFrame({"id":[1,2],"name":["ale","leka"],"des":["ass","log"],"gender":["m","f"]})
b = pd.DataFrame({"id":[1,2],"age":["alfe","lefka"],"de":["afss","lfog"],"ge":["m","m"]})

In [75]:
pd.concat([a,b],axis=1)

   id  name  des gender  id    age    de ge
0   1   ale  ass      m   1   alfe  afss  m
1   2  leka  log      f   2  lefka  lfog  m

In [76]:
a.sort_values(by="gender")

   id  name  des gender
1   2  leka  log      f
0   1   ale  ass      m

In [82]:
a.sort_values(by=["gender","name"],inplace=True)

In [83]:
a

   id  name  des gender
1   2  leka  log      f
0   1   ale  ass      m

In [84]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,5043.000000,5043.000000,5043.000000,5043.000000,5043.000000,5.043000e+03,5.043000e+03,5043.000000,5043.000000,5043.000000,5.043000e+03,5043.000000,5043.000000,5043.000000,5043.000000,5043.000000
mean,138.804283,106.882213,672.351576,642.068015,6550.941305,3.997226e+07,8.366816e+04,9699.063851,1.367638,271.634940,3.587432e+07,1959.585961,1647.496530,6.442138,2.075546,7525.964505
std,121.792053,25.828463,2785.871819,1661.808199,15012.315824,6.483779e+07,1.384853e+05,18163.799124,2.012180,377.603767,1.961555e+08,290.180846,4038.092967,1.125116,1.447089,19320.445110
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,5.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.600000,0.000000,0.000000
25%,48.000000,93.000000,6.000000,130.000000,611.000000,3.037815e+05,8.593500e+03,1411.000000,0.000000,64.000000,3.000000e+06,1998.000000,278.500000,5.800000,1.850000,0.000000
50%,109.000000,103.000000,45.000000,367.000000,986.000000,1.527968e+07,3.435900e+04,3090.000000,1.000000,155.000000,1.500000e+07,2005.000000,595.000000,6.600000,1.850000,166.000000
75%,194.000000,118.000000,189.000000,635.000000,11000.000000,5.135707e+07,9.630900e+04,13756.500000,2.000000,324.000000,4.000000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5043 non-null object
director_name                5043 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null float64
actor_2_name                 5043 non-null object
actor_1_facebook_likes       5043 non-null float64
gross                        5043 non-null float64
genres                       5043 non-null object
actor_1_name                 5043 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5043 non-null object
facenumber_in_poster         5043 non-null float64
plot_keywords                5043 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5043 non-null float64
language                     5043 non-null object
country                      5043 non-null object
content_rating               5043 non-null object
budget                       5043 non-null float64
title_year                   5043 non-null float64
actor_2_facebook_likes       5043 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 5043 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [65]:
#groupby
g = pd.DataFrame({"name":["ale","leka"],"des":["ass","ass"],"age":[56,34]},index=["angel","lag"])#colimns=["nb"]
g

       name  des  age
angel   ale  ass   56
lag    leka  ass   34

In [66]:
g.groupby(["des","age"]).groups

{('ass', 34): Index(['lag'], dtype='object'),
 ('ass', 56): Index(['angel'], dtype='object')}

In [67]:
g.groupby(["des"]).groups

{'ass': Index(['angel', 'lag'], dtype='object')}

In [ ]:
# task dowmload any data set from kaggle.com 
#remove null values and duplicate values
#fill null values