In [2]:
import pandas as pd
import numpy as np
series=pd.Series([1,2,3])
print(series)
print(type(series))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
import pandas as pd
import numpy as np
series1=pd.Series(['as','df','vv'])
print(series1)
print(type(series1))

0    as
1    df
2    vv
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
series=pd.date_range(start = "26-9-2019" ,end = "26-9-2019")
print(series)
print(type(series))

DatetimeIndex(['2019-09-26'], dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [12]:
series=pd.date_range(start = "26-9-2019" ,end = "27-9-2019",freq="6h")
print(series)

DatetimeIndex(['2019-09-26 00:00:00', '2019-09-26 06:00:00',
               '2019-09-26 12:00:00', '2019-09-26 18:00:00',
               '2019-09-27 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [14]:
pd.date_range(start="29-9-2019", periods=10, freq='2h20min')

DatetimeIndex(['2019-09-29 00:00:00', '2019-09-29 02:20:00',
               '2019-09-29 04:40:00', '2019-09-29 07:00:00',
               '2019-09-29 09:20:00', '2019-09-29 11:40:00',
               '2019-09-29 14:00:00', '2019-09-29 16:20:00',
               '2019-09-29 18:40:00', '2019-09-29 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [16]:
pd.date_range(end="20-9-2019", periods=10, freq='2h20min')

DatetimeIndex(['2019-09-19 03:00:00', '2019-09-19 05:20:00',
               '2019-09-19 07:40:00', '2019-09-19 10:00:00',
               '2019-09-19 12:20:00', '2019-09-19 14:40:00',
               '2019-09-19 17:00:00', '2019-09-19 19:20:00',
               '2019-09-19 21:40:00', '2019-09-20 00:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [21]:
 pd.date_range(start='1/1/2018', periods=5, freq='5M')

DatetimeIndex(['2018-01-31', '2018-06-30', '2018-11-30', '2019-04-30',
               '2019-09-30'],
              dtype='datetime64[ns]', freq='5M')

In [7]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : integer, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    pandas.DatetimeIndex : An immutable container for datetimes.
    pandas.timedelta_range : Return a fixed frequency TimedeltaIndex.
    pandas.period_range : Return a fixed frequency PeriodIndex.
    pandas.interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [12]:
series1[2]

'vv'

In [14]:
series1[1:]

1    df
2    vv
dtype: object

In [17]:
series1[[0,2]]

0    as
2    vv
dtype: object

In [19]:
pd.Series([0,1,2,3,4],index=["a","b","v","c","l"])

a    0
b    1
v    2
c    3
l    4
dtype: int64

In [20]:
pd.Series([1,2,3],index=pd.date_range('22-11-2018','24-11-2018'))

2018-11-22    1
2018-11-23    2
2018-11-24    3
Freq: D, dtype: int64

In [23]:
pd.Series(np.array(range(0,10))**2,index=range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32

In [24]:
df = pd.DataFrame({'name': ['Vinay', 'Kushal', 'Aman', 'Saif'], 
                   'age': [22, 25, 24, 28], 
                    'occupation': ['engineer', 'doctor', 'data analyst', 'teacher']})
df

     name  age    occupation
0   Vinay   22      engineer
1  Kushal   25        doctor
2    Aman   24  data analyst
3    Saif   28       teacher